 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    background: #210319;
    min-height: 200vh;
}
header{
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .logo{
position:relative;
font-weight: 700;
color: #fff;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.6s;
}
header ul{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    
    position: relative;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    position: relative;
    margin: 0 15px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.btn{
    min-width: 100px;
    color: white;
    border-color: purple;
    border: 2px solid;
    height: 30px;
    border-radius: 20px;
    background-color: purple;
    transition: 0.5s;
    font-size: 14px;
    
}
.btn-roxo{
    padding: 5px 10px;
    text-decoration: none;
    color: purple;
    background-color: #210319;
}
.btn-roxo:hover{
    padding: 10px 15px;
    color: white;
    background-color: purple;
    border-color: purple;
    cursor:pointer;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #210319;
    background-size: cover;
}
.prog{
    width: 40%;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 500px;
}
div.text-bem-vindo{
    float: right;
    margin-top: 15%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.branco{
    color: white;
}
.nome{
    color: purple;
}
.nome:hover{
    text-decoration: underline;
    cursor: pointer;
}
.navbar2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
.navbar2 .switch{
    display: none;
}
.navbar2.sticky .logo1{
    position:relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-right: 10%;
    }

.navbar2 ul{
    
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.navbar2 ul li{
    
    position: relative;
    list-style: none;
}
.navbar2 ul li a{
    text-decoration: none;
    position: relative;
    margin: 0 15px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
div.navbar2.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    padding: 5px 100px;
    background: #660550;

}
div.navbar2.sticky ul a.switch{
    display: flex;
}
.btn-roxo2{
    padding: 5px 10px;
    text-decoration: none;
    color: purple;
    background-color: #660550;
}
.btn-roxo2:hover{
    padding: 10px 15px;
    color: white;
    background-color: purple;
    border-color: purple;
    cursor:pointer;
}
.btn2{
    min-width: 100px;
    color: white;
    border-color: purple;
    border: 2px solid;
    height: 30px;
    border-radius: 20px;
    background-color: purple;
    transition: 0.5s;
    font-size: 14px;
    
}